/*
CSS style for mesangecreative.com
@author: Efren Arthur (daitenshiren);
*/
@font-face{
	font-family: Oswald;
	src: url('../fonts/Oswald-Regular.woff') format('woff'), /*Modern Browsers*/
		 url('../fonts/Oswald-Regular.ttf') format('truetype'); /*Safari, Andriod, iOS*/

}

@font-face{
	font-family: PT Sans Narrow;
	src: url('../fonts/PT_Sans-Narrow-Web-Regular.woff') format('woff'), /*Modern Browsers*/
		 url('../fonts/PT_Sans-Narrow-Web-Regular.ttf') format('truetype'); /*Safari, Andriod, iOS*/

}
/*
@font-face{
	font-family: Font Awesome;
	src: url('../fonts/FontAwesome.woff') format('woff'), /*Modern Browsers*/
		 url('../fonts/FontAwesome.ttf') format('truetype'); /*Safari, Andriod, iOS*/

}*/
/*@font-face {
    font-family: myFirstFont;
    src: url('../fonts/sansation_light.woff');
}*/