/*
CSS style for mesangecreative.com
@author: Efren Arthur (daitenshiren);
*/
@import url('font.css');

body{
	background: #F2F2F2;
	font-size: 16px;
}
a{
	color:#1F8EDE;
}
a:hover{
	color:#333333;
	text-decoration: none;
}

header {
	background: #007AA2 !important;
	border-bottom: 1px #cccccc solid;
	box-shadow:         0px 5px 20px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
	-moz-box-shadow:    0px 5px 20px rgba(0,0,0,0.2);
	-o-box-shadow:      0px 5px 20px rgba(0,0,0,0.2);

}

.content{
	background: #F2F2F2 !important;
	min-height: 82%;
	min-height: 82vh;
}

.wrap{
	min-height: 50vh;
	background: #FFEAC9;
	border: #B8AFAB 1px solid;
	border-radius: 20px;
	-moz-o-border-radius: 20px;
	-webkit-border-radius: 20px;
	padding: 30px 20px;
	display:table;
	table-layout: fixed;
}

.v-center{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}

.center-div{
	margin: 0 auto;
}


.spacer{
	height:3em;
}

.text-center{
	margin: 0 auto;
}
.alert-user{
	position: absolute;
	display:block;
	min-width:95%;
	z-index: 8888;
}
#banner{
	min-height: 80vh;
	background:
		linear-gradient(
	      rgba(0, 0, 0, 0.70), 
	      rgba(0, 0, 0, 0.70)
	    ),
	    #222222 url('../img/home-bg.jpg') top center no-repeat fixed;
	background-size: cover !important;
}

#banner .call-to-action h1{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 5em;
	color: #ffffff;
	margin: 5% 0;
}

#banner .call-to-action h3{
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 2em;
	color: #ffffff;
}

#banner .call-to-btn{

    padding: 21px 42px;
	border: solid 2px #cccccc;
	border-radius: 5px;
	line-height: 14px;
	color: #ffffff;
	background-color: transparent;
}

#banner .call-to-btn:hover{
	-webkit-transition: border background-color 200ms ease-out 300ms;
	transition: border background-color 200ms ease-out 300ms;
	border: solid 2px #54AFDD;
	background-color: #54AFDD;
}

.column-title{
	margin: 24px 0 40px 0;
}

.column-title h2{
	font-family: 'Oswald',sans-serif;
}

hr{
	background: #d7dee5;
	height: 3px;
	border: none;
	margin: 0 auto;
}

.ice-breaker-banner{
	background:
		linear-gradient(
	      rgba(0, 0, 0, 0.45), 
	      rgba(0, 0, 0, 0.45)
	    ),
	    #222222 url('../img/breaker-banner.png') fixed center center no-repeat;
	background-size: cover;
	height: 250px;
}

.work-showcase{
	background:#E3E3E3;
	min-height:50px;
}

.quote{
	position: relative;
	display: inline-block;
	line-height: 2px;
	top:25px;
	font-size: 3em;
	opacity: 0.5;
	font-family: Oswald,serif;
}

#quote{
	background: linear-gradient(
	      rgba(0, 0, 0, 0.80), 
	      rgba(0, 0, 0, 0.80)
	    ),
	url('../img/quote-banner.jpg') fixed center center no-repeat;
	background-size: auto 100%;
	height:10%;
	margin: 20px 0;
	padding:40px;
}

#quote blockquote{
	border-left: none;
	color: #ffffff;
}


/*404 header style*/
#four-o-four-header{
	height:150px;
	background: linear-gradient(
	      rgba(0, 0, 0, 0.40), 
	      rgba(0, 0, 0, 0.40)
	    ),
	url('../img/four-o-four-header.jpg') top no-repeat fixed;
	background-size: 100% auto;
}


/*Customize foundation without sass*/
.f-topbar-fixed {
	padding-top: 0 !important;
}



.top-bar-section ul li{
	background: transparent;
}

.top-bar .toggle-topbar.menu-icon {
	line-height: 78px;
	margin-top: -16px;
}

a.menu-icon span {
-webkit-box-shadow: 0 10px 0 1px #666666, 0 16px 0 1px #666666, 0 22px 0 1px #666666;
box-shadow: 0px 10px 0px 1px #666666, 0px 16px 0px 1px #666666, 0px 22px 0px 1px #666666;
}

.top-bar-section ul li > a.button{
	top: 36px;
}

.su-button li{
	font-size: 1.3em;
	padding: 5px 0;
}

/*login page style*/
.login-holder{
	margin:15% 0;
}

.rounded-border{
	padding: 30px;
	border:  1px #007399 solid;
	border-radius: 10px;
}



footer{
	height: 80px;
	background: #cccccc;

}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.supmenu {
	padding: 0 30px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 10px;
}